.sub-gallery{
  display: flex;

  h4{
    text-transform: uppercase;
    font-family: var(--ff-title-primary);
    font-size:var(--fz-h4);
    margin: 0;
    line-height: var(--lh-extra-thin);
    align-self: center;

    span{
      font-family: var(--ff-title-secondary);
      text-transform: none;
      display: block;
    }
  }
  h4, .thumb{
    width: 25%;
    padding: 30px;
  }
}